.sidebarContainer {
	padding: 5px;
}

.sidebarContainer .nav-item:hover, .sidebarContainer .nav-item:hover a {
	color: red;
}

.sidebarContainer .nav-item.active, .sidebarContainer .nav-item.active a {
	color: red;
}

.mainContainer {
	padding: 20px;
}